.main_chat
  .main-header
    .main-header__leftbox
      .main-header__leftbox__current-group
        = @group.name
      .main-header__leftbox__member-list
        Member : 
        - @group.users.each do |user| 
          .main-header__leftbox__member-list__member
            = user.name
    .main-header__edit-btn
      = link_to 'EDIT',edit_group_path(@group)

  .messages
    = render @messages

  .form
    = form_for [@group, @message], remote: true do |f|
      = f.text_field :content, class: 'form__message', placeholder: 'type a message'
      .form__mask
        = f.label :image, class: 'form__mask__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'form__submit'